@media (max-width: 551px) {
  .container,
  .header__item,
  .content__bottom-text,
  .content__blog-item {
    width: 100%;
  }

  .header__search-container {
    display: none;
  }

  .header__inner {
    padding: 20px;
    margin: 0 15px;
  }

  .header__link {
    font-size: 16px;
  }

  .footer__inner,
  .main__inner {
    margin: 0 15px;
  }

  .content__bottom-photo {
    width: 100%;
    text-align: center;
  }

  .content__bottom-title {
    text-align: center;
  }

  .content__bottom-text,
  .footer__descr {
    margin-top: 15px;
  }
}


@media (min-width: 552px) and (max-width: 767px) {
  .container,
  .header__item {
    width: 100%;
  }

  .header__search-container {
    display: none;
  }

  .header__inner {
    padding: 20px 34px;
    margin: 0 15px;
  }

  .footer__inner,
  .main__inner {
    margin: 0 15px;
  }

  .content__blog-item {
    width: 49%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 100%;
  }
  .header__inner {
    margin: 0 15px;
  }

  .footer__inner,
  .main__inner {
    margin: 0 15px;
  }

  .content__bottom-photo {
    width: 33%;
  }

  .content__bottom-text {
    width: 67%;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {

}

@media (min-width: 1281px) and (max-width: 1440px) {

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Rockwell MT';
  opacity: 0.5;
  font-size: 18px;
  color: rgba(91, 91, 91, 0.19);
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Rockwell MT';
  opacity: 0.5;
  font-size: 18px;
  color: rgba(91, 91, 91, 0.19);
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Rockwell MT';
  opacity: 0.5;
  font-size: 18px;
  color: rgba(91, 91, 91, 0.19);
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Rockwell MT';
  opacity: 0.5;
  font-size: 18px;
  color: rgba(91, 91, 91, 0.19);
}
